:root {
    --color1: #232323;
    --color2: #464b38;
    --color3: #bca97a;
    --color4: #cbd590;
    --color5: #c19482;
}

html {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0 2rem;
    font-size: 2rem;

    background-color: var(--color1);
    color: var(--color3);

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20rem 1fr 6rem;
    min-height: 100vh;
}

body a {
    color: var(--color4);
}

header {
    grid-column: 1 / 2;
    grid-row: 1 / 2;

    position: sticky;
    top: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

header nav ul {
    list-style-type: none;

    display: flex;
    flex-direction: row;
}

header nav ul a {
    text-decoration: none;
    color: var(--color3);
}

header nav ul a:hover {
    background: var(--color2);
}

header nav ul li {
    padding: 1rem 2rem;
    border-style: solid;
    border-width: 0.2rem;
    border-color: var(--color2);

    font-weight: bold;
}

header h1 {
    text-transform: uppercase;
}

main {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

main article {
    color: var(--color4);
}

main article#introduction {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

main article#introduction div {
    margin: 2rem;
}

main article#introduction .avatar img {
    border-style: solid;
    border-width: 0.5rem;
    border-color: var(--color2);
}

main article#introduction .description {
    max-width: 70rem;
}

main article#cv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main article#cv table {
    margin: 4rem 0;
}

main article#cv table caption {
    margin: 1rem 0;
    font-weight: bold;
    color: var(--color5);
}

main article#cv table th {
    text-align: right;
}

main article#cv table td {
    text-align: left;
    padding-left: 2rem;
}

main article#contact {
    display: flex;
    justify-content: center;
}

main article#contact fieldset {
    width: 30rem;
}

main article#contact fieldset div {
    margin: 1rem 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

main article#contact fieldset div#message {
    flex-direction: column;
}

main article#projects {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

footer {
    grid-column: 1 / 2;
    grid-row: 3 / 4;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    border-top-style: solid;
    border-top-width: 0.3rem;
    border-color: var(--color2);
}

footer ul {
    list-style-type: none;

    display: flex;
    flex-direction: row;
    align-items: center;
}

footer ul li {
    padding: 0.5rem 2rem;
    border-right-style: solid;
    border-right-width: 0.3rem;
    border-color: var(--color2);
}

footer ul li a {
    text-decoration: none;
    color: var(--color3);
}

footer ul li:last-of-type {
    border-right: none;
}
